<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/socket.io-1.3.5.min.js"></script>
        <script type="text/javascript" src="/static/html.js"></script>
        <script type="text/javascript" src="/static/app.js"></script>
        <link rel="icon" type="image/png" href="/static/favicon.png">
    </head>
    <body>
        <div id="choice">
            <div>
                <a id="toggle" class="button">toggle</a>
                <a id="start" class="button">start</a>
                <a id="stop" class="button">stop</a><br/>
            </div>
        </div>
        <div id="container_direct" class="toggle">
            <div id="blue" class="color black"></div>
            <div id="red" class="color black"></div>
            <div id="yellow" class="color black"></div>
            <div id="green" class="color black"></div>
        </div>
        <div id="container_loop" class="toggle">
            <div style="padding:20px">
                <a id="load" class="button">load</a>
                <select id="patterns" style="width:200px"></select>
            </div>
            <div style="padding:20px">
                <a id="save" class="button">save</a>
                <input id="pattern" type="text" style="width:200px"/>
            </div>
            <div id="rows">
            </div>
        </div>
    </body>
</html>
